.Standart{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &-Info{
        display: flex;
        width: 98%;
        height: 100%;
        &-Main_Info_Show{
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 90%;
            &-MainPhoto{
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                &-Img{
                    width: 70%;
                    cursor: pointer;
                }
            }
            &-PhotoList{
                overflow-x: auto;
                display: flex;
                overflow: hidden;
                width: 100%;
                max-width: 100%;
                padding-bottom: 1em;
                position: relative;
                &-Slider{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    position: relative;
                    animation: move_bg 35s linear infinite alternate;
                    &-Select_Card{
                        width: 15%;
                        box-shadow: 0 0 15px #00ffffb7;
                        margin: 1em;
                    }
                    &-Card{
                        width: 15%;
                        margin: 1em;
                    }
                    :hover{
                        cursor: pointer;
                        box-shadow: 0 0 10px white;
                    }
                }
                
            }
            &-PhotoList::-webkit-scrollbar {
                height: 10px;
                width: 2px;
                // background-color: aqua;
            }
            &-PhotoList::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: #e7c862;
                box-shadow: inset 0 0 8px #e7c862;
            }
        }
        &-Description{
            width: 50%;
            font-size: 1.2vw;
            height: 100%;
            margin: 2em;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-direction: column;
            text-align: left;
            :first-child{
                margin-bottom: 0;
            }
            &-More{
                margin-top: 0;
            }
        }
        &-Buy{
            position: absolute;
            bottom: clamp(1%, 30vw, 10%);
            right: clamp(3%, 30vw, 20%);
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 10%;
            &-Text{
                font-size: var(--descryption_category_NY_size_font);
            }
            &-Button_Buy{
                width: auto;
                font-size:var(--card_name);
                padding: 0 2vw;
                color: green;
                border-radius: 2vw;
                box-shadow: 0 0 20px rgba(218, 165, 32, 0.514);
                animation: colorize 12s ease infinite;
            }
            &-Button_Buy:hover{
                cursor: pointer;
                animation: colorize_Focus 2s ease infinite;
            }
        }
    }
}

@keyframes colorize {
    0% {
        box-shadow: 0 0 10px;
        color: rgb(197, 222, 229);
    }
    10% {
        box-shadow: 0 0 5px;
        color: rgb(243, 219, 121);
    }
    20% {
        box-shadow: 0 0 15px;
        color: rgb(194, 230, 122);
    }
    30% {
        box-shadow: 0 0 3px;
        color: rgb(241, 177, 139);
    }
    40% {
        box-shadow: 0 0 8px;
        color: rgb(197, 222, 229);
    }
    50% {
        box-shadow: 0 0 7px;
        color: rgb(243, 219, 121);
    }
    60% {
        box-shadow: 0 0 15px;
        color: rgb(194, 230, 122);
    }
    70% {
        box-shadow: 0 0 4px;
        color: rgb(241, 177, 139);
    }
    80% {
        box-shadow: 0 0 18px;
        color: rgb(197, 222, 229);
    }
    90% {
        box-shadow: 0 0 9px;
        color: rgb(243, 219, 121);
    }
    100% {
        box-shadow: 0 0 20px;
        color: rgb(194, 230, 122);
    }
}

@keyframes colorize_Focus {
    0% {
        box-shadow: 0 0 15px;
        color: rgb(148, 129, 19);
    }
    50% {
        box-shadow: 0 0 5px;
        color: rgb(194, 160, 25);
    }
    100% {
        box-shadow: 0 0 15px;
        color: rgb(148, 129, 19);
    }
}