.Alchimy_Show{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &-Info{
        display: flex;
        width: 98%;
        height: 100%;
        &-Main_Info_Show{
            width: 50%;
            height: 90%;
            &-MainPhoto{
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                &-Img{
                    width: 70%;
                    cursor: pointer;
                }
            }
            &-PhotoList{
                overflow-x: auto;
                display: flex;
                overflow: hidden;
                width: 100%;
                max-width: 100%;
                padding-bottom: 1em;
                position: relative;
                &-Slider{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    max-height: 20%;
                    position: relative;
                    // animation: move_bg 35s linear infinite alternate;
                    &-Select_Card{
                        width: var(--size_img_sliderPhoto);
                        height: var(--size_img_sliderPhoto);
                        box-shadow: 0 0 15px #00ffffb7;
                        margin: 1em;
                    }
                    &-Card{
                        width: var(--size_img_sliderPhoto);
                        height: var(--size_img_sliderPhoto);
                        margin: 1em;
                    }
                    :hover{
                        cursor: pointer;
                        box-shadow: 0 0 10px white;
                    }
                }
                
            }
            &-PhotoList::-webkit-scrollbar {
                height: 10px;
                width: 2px;
                // background-color: aqua;
            }
            &-PhotoList::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: #e7c862;
                box-shadow: inset 0 0 8px #e7c862;
            }
        }
        &-Description{
            width: 50%;
            font-size: var(--descryption_category_NY_size_font);
            height: var(--height_descryption_block);
            max-height: var(--height_descryption_block);
            margin: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
        }
        &-Buy{
            position: absolute;
            bottom: clamp(1%, 30vw, 10%);
            right: clamp(3%, 30vw, 20%);
            display: flex;
            flex-direction: column;
            align-items: center;
            height: var(--height_buy_block);
            &-Text{
                font-size: var(--descryption_category_NY_size_font);
            }
            &-Button_Buy{
                width: auto;
                font-size:var(--card_name);
                padding: 0 2vw;
                color: green;
                border-radius: 2vw;
                box-shadow: 0 0 20px rgba(218, 165, 32, 0.514);
                animation: colorize 12s ease infinite;
            }
            &-Button_Buy:hover{
                cursor: pointer;
                animation: colorize_Focus 2s ease infinite;
                
            }
        }
    }
}