@media screen and (min-width: 1280px) {
    :root {
        --position_left_arrow_button: 49%;
        --size_arrow_button: 30px;
        --tittle_module_font_size: 4em;
        --module_contacts_font_size: 1em;
        --text-size-About-Content: 26px;
        --height_content: 80vh;
        --width_content: 70vw;
        --position_rotate_logo: 0;
        --logo_width_bouncing: 15%;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1366px) {
    :root {
        --position_left_arrow_button: 49%;
        --size_arrow_button: 30px;
        --tittle_module_font_size: 2em;
        --module_contacts_font_size: 1em;
        --text-size-About-Content: 20px;
        --height_content: 80vh;
        --width_content: 70vw;
        --position_rotate_logo: 0;
        --logo_width_bouncing: 20%;
    }
  }
  @media screen and (min-width: 800px) and (max-width: 1023px) {
    :root {
        --position_left_arrow_button: 49%;
        --size_arrow_button: 30px;
        --tittle_module_font_size: 2em;
        --module_contacts_font_size: 1em;
        --text-size-About-Content: 20px;
        --height_content: 80vh;
        --width_content: 70vw;
        --position_rotate_logo: 0px;
        --logo_width_bouncing: 20%;
    }
  }
  @media (orientation: portrait) {
    :root {
        --position_left_arrow_button: 47%;
        --size_arrow_button: 25px;
        --tittle_module_font_size: 25px;
        --text-size-About-Content: 14px;
        --module_contacts_font_size: .5em;
        --height_content: 75vh;
        --width_content: 95vw;
        --position_rotate_logo: 50px;
        --logo_width_bouncing: 30%;
    }
  }

  @media (orientation: landscape) and (max-height: 428px) and (max-width: 926px) {
    :root {
        --position_left_arrow_button: 47%;
        --size_arrow_button: 25px;
        --tittle_module_font_size: 1.5em;
        --text-size-About-Content: 10px;
        --module_contacts_font_size: .5em;
        --height_content: 75vh;
        --width_content: 85vw;
        --position_rotate_logo: 50px;
        --logo_width_bouncing: 30%;
    }
  }
.About{
    // background:rgba(0, 0, 0, 0.534);
    color: var(--font_color_app);
    position: relative;
    z-index: 10;
    width: var(--width_content);
    height: var(--height_content);
    // padding: 0 1em 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // box-shadow: var(--shadow_box);
    border-radius: 2em 0 2em 0;
    &-Title{
        font-size: var(--tittle_module_font_size);
        margin-bottom: 0;
    }
    &-Header{
        position: relative;
        top: 0;
        width:100%;
        border-radius: 5em;
    }
    &-Content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 2em;
        width:98.4%;
        padding: 0.5em;
        height: 88%;
        &-Inform{
            padding-left: 2em;
            text-align: left;
            // border: 2px solid black;
            width: 98%;
            height: 40%;
            &-H2{
                font-size: var(--text-size-About-Content);
            }
        }
        &-OtherInfo{
            display: flex;
            flex-direction: row;
            // border: 2px solid black;
            width: 100%;
            height: 50%;
            &-H3{
                font-size: var(--module_contacts_font_size);
            }
            &-H3 p{
                margin: 0;
            }
            &-Contacts{
                box-shadow: inset 0 0 50px rgb(171, 173, 0);
                margin: 0em 1em 1em 1em;
                // border: 2px solid black;
                width: 50%;
                border-radius: 5em;
                height: 95%;
            }
            &-Team{
                box-shadow: inset 0 0 50px rgb(171, 173, 0);
                margin: 0em 1em 1em 1em;
                display: flex;
                flex-direction: column;
                align-items: center;
                // border: 2px solid black;
                width: 50%;
                border-radius: 5em;
                height: 95%;
            }
        }
        
    }
}
.Rotate_Animation{
    position: relative;
    top: var(--position_rotate_logo);
    width:'100%';
    display:'flex';
    justify-content:'center';
    transition-duration: 2000s;
    
    // -webkit-animation-name: spin;
    // -webkit-animation-duration: 20000ms;
    // -webkit-animation-iteration-count: infinite;
    // -webkit-animation-timing-function: linear;

    // -moz-animation-name: spin;
    // -moz-animation-duration: 20000ms;
    // -moz-animation-iteration-count: infinite;
    // -moz-animation-timing-function: linear;

    // -ms-animation-name: spin;
    // -ms-animation-duration: 20000ms;
    // -ms-animation-iteration-count: infinite;
    // -ms-animation-timing-function: linear;

    // animation-name: spin;
    // animation-duration: 20000ms;
    // animation-iteration-count: infinite;
    // animation-timing-function: linear;

    // @-ms-keyframes spin { 
    //     from { 
    //         -ms-transform: rotate(0deg); 
    //     } to { 
    //         -ms-transform: rotate(360deg); 
    //     }
    // }
    // @-moz-keyframes spin { 
    //     from { 
    //         -moz-transform: rotate(0deg); 
    //     } to { 
    //         -moz-transform: rotate(360deg); 
    //     }
    // }
    // @-webkit-keyframes spin { 
    //     from { 
    //         -webkit-transform: rotate(0deg); 
    //     } to { 
    //         -webkit-transform: rotate(360deg); 
    //     }
    // }
    // @keyframes spin { 
    //     from { 
    //         transform: rotate(0deg); 
    //         transform: scale(1); 
    //     } to { 
    //         transform: rotate(360deg); 
    //         transform: scale(0.2); 
    //     }
    // }
    &-Logo{
        position: absolute;
        backface-visibility: visible !important;
        animation: flip 10s ease infinite;
        width: var(--logo_width_bouncing);
        }
        @keyframes flip {
            0% {
                transform: perspective(400px) rotateY(0);
                animation-timing-function: ease-out;
            }
            40% {
                transform: perspective(400px) translateZ(150px) rotateY(170deg);
                animation-timing-function: ease-out;
            }
            50% {
                transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
                animation-timing-function: ease-in;
            }
            80% {
                transform: perspective(400px) rotateY(360deg) scale(.95);
                animation-timing-function: ease-in;
            }
            100% {
                transform: perspective(400px) scale(1);
                animation-timing-function: ease-in;
            }
        }
        
}

.Go_To_Team > h4{
    margin-bottom: 1em;
    font-size: clamp(20px, 2vw, 200px);
}

// кнопка к команде

.arrow-4 {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    &-main{
        display: flex;
        cursor: pointer;
        width: 10%;
    }
}
//! ANUMATION ARROW 2

$ani-speed: 4s;
$ani-delay: 2s;


.arrow {
    opacity: 0;
    position: absolute;
        left: var(--position_left_arrow_button);
        bottom: 7%;
    transform-origin: 50% -50%;
    transform: translate3d(-50%, 95%, 0);
}
    

.arrow-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: var(--font_color_app);
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 2%;
        left: 0;
    width: var(--size_arrow_button);
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}