@font-face {
  font-family: ArialRound;
  src: url('../public/fonts/arialRound.otf');
}
@media screen and (min-width: 1280px) {
  :root {
      --height-app: 100vh
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  :root {
      --height-app:100vh
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  :root {
      --height-app:100vh
  }
}
@media screen and (max-width: 799px) {
  :root {
      --height-app:80vh
  }
}

.App {
  scroll-behavior: smooth;
  text-align: center;
  height: var(--height-app);
  font-family: ArialRound;
  width: 100%;
}
