@font-face {
  font-family: ArialRound;
  src: url('../public/fonts/arialRound.otf');
}

.App {
  text-align: center;
  height: 100vh;
  font-family: ArialRound;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
