@font-face {
  font-family: ArialRound;
  src: url('../public/fonts/arialRound.otf');
}

:root {
  --font_color_app: #e7c862;
}
@media screen and (min-width: 1280px) {
  :root {
      --height-app: 100vh;
      // --shadow_box: 10px 10px 30px rgba(170, 173, 0, 0.2);
      --shadow_box: 10px 10px 30px #e7c8623b;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  :root {
      --height-app:100vh;
      // --shadow_box: 10px 10px 30px rgba(170, 173, 0, 0.2);      
      --shadow_box: 10px 10px 30px #e7c8623b;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  :root {
      --height-app:100vh;
      // --shadow_box: 10px 10px 30px rgba(170, 173, 0, 0.2);      
      --shadow_box: 10px 10px 30px #e7c8623b;
  }
}
@media screen and (max-width: 799px) {
  :root {
      --height-app:80vh;
      // --shadow_box: 20px 20px 10x rgba(170, 173, 0, 0.4);      
      --shadow_box: 20px 20px 10x #e7c8623b;
  }
}
.App_Intro{
  background-color: #191a22f9;
  overflow: hidden;
  &-Video{
    // height: 99.3vh;
    overflow: hidden;
  }
  &-Intro_Logo{
    // width: 100vw;
    height: 99.3vh;
    // overflow: hidden;
  }

}
.App {
  scroll-behavior: smooth;
  text-align: center;
  height: var(--height-app);
  font-family: ArialRound;
  width: 100%;
  // overflow-x: hidden;
}
