@media screen and (min-width: 1280px) {
    :root {
        --personal_card_width: 13%;
        --width_image_carousel: 30%;
        --height_image_carousel: 45%;
        --text_H3_image_description_size: 16px;
        --text_H5_image_description_size: 16px;
        --orientation_carousel_card: row;
        --margin_img_carousel: 10%;
        --align_items_card: none;
        --margin_left_card: 2em;
        --width_content_team: 70vw;
        --height_content_team: 75vh;
        --personal_card_info_directional: row;
        --width_image_personal_card: 40%;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    :root {
        --personal_card_width: 13%;
        --width_image_carousel: 45%;
        --height_image_carousel: 45%;
        --text_H3_image_description_size: 16px;
        --text_H5_image_description_size: 16px;
        --orientation_carousel_card: row;
        --margin_img_carousel: 10%;
        --align_items_card: none;
        --margin_left_card: 2em;
        --width_content_team: 70vw;
        --height_content_team: 75vh;
        --personal_card_info_directional: row;
        --width_image_personal_card: 40%;
    }
  }
  @media screen and (min-width: 800px) and (max-width: 1023px) {
    :root {
        --personal_card_width: 13%;
        --width_image_carousel: 45%;
        --height_image_carousel: 45%;
        --text_H3_image_description_size: 16px;
        --text_H5_image_description_size: 16px;
        --orientation_carousel_card: row;
        --margin_img_carousel: 10%;
        --align_items_card: none;
        --margin_left_card: 2em;
        --width_content_team: 70vw;
        --height_content_team: 75vh;
        --personal_card_info_directional: row;
        --width_image_personal_card: 40%;
    }
  }
  @media (orientation: portrait) {
      :root {
        --personal_card_width: 30%;
        --width_image_carousel: 80%;
        --height_image_carousel: 80%;
        --text_H3_image_description_size: 16px;
        --text_H5_image_description_size: 12px;
        --orientation_carousel_card: column;
        --margin_img_carousel: 0;
        --align_items_card: center;
        --margin_left_card: 0;
        --width_content_team: 85vw;
        --height_content_team: 75vh;
        --personal_card_info_directional: column;
        --width_image_personal_card: 60%;
    }
}

@media ( orientation: landscape) and (max-height: 428px) and (max-width: 926px)  {
    :root {
      --personal_card_width: 30%;
      --width_image_carousel: 80%;
      --height_image_carousel: 80%;
      --text_H3_image_description_size: 16px;
      --text_H5_image_description_size: 12px;
      --orientation_carousel_card: column;
      --margin_img_carousel: 0;
      --align_items_card: center;
      --margin_left_card: 0;
      --width_content_team: 85vw;
      --height_content_team: 75vh;
      --personal_card_info_directional: column;
      --width_image_personal_card: 60%;
  }
}

.Team{
    background:rgba(0, 0, 0, 0.534);
    color: var(--font_color_app);
    position: relative;
    z-index: 10;
    width: var(--width_content_team);
    height: var(--height_content_team);
    // padding: 0 1em 1em 1em;
    display: flex;
    justify-content: center;
    // align-items: center;
    box-shadow: var(--shadow_box);
    border-radius: 2em 0 2em 0;
    &-Personal_Card{
        display: flex;
        flex-direction: var(--personal_card_info_directional);
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 1em;
        background-color: rgb(27, 27, 27);
        border-radius: 2em 0 2em 0;
        box-shadow: 0 0 50px var(--font_color_app);
        transition: .5s;
        &-Image{
            padding: 1em;
            border-radius: 2em 0em;
            width: var(--width_image_personal_card);
        }
        &-Info{
            margin-top: 3em;
            font-size: large;
            color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            &-Name{
                font-size: larger;
            }
            &-Description{
                text-align: center;
                width: 90%;
    
            }
        }
        &-Button_Close{
            color: white;
            position: absolute;
            right: 1em;
            top: 1em;
            background: none;
            border: unset;
        }
        &-Button_Close:hover{
            cursor: pointer;
            color: gold;
            text-shadow: 0 0 5px gold;
        }
    }
    &-Personal_Card_Hide{
        width: 80%;
        height: 0%;
        position: absolute;
        top: 3em;
        transition: .5s;

    }
    &-Carousel{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10em;
        width: 100%;
        overflow-y: auto;
        &-Card_Window{
            display: flex;
            flex-direction: column;
            width: var(--personal_card_width);
            margin: .5em 2em;
            transition: 1s;
        }
        &-Card_Window:hover{
            cursor: pointer;
            img{
                box-shadow: 5px 5px 20px var(--font_color_app);
                transition: .5s;
            }
            transition: 1s;
            overflow-x: hidden;
        }
        &-Card{
            display: flex;
            flex-direction: var(--orientation_carousel_card);
            align-items: var(--align_items_card);
            margin-bottom: 20px;
            display: flex !important;
            &-Name_And_Description{
                width: 65%;
                margin-left: var(--margin_left_card);
                &-H3{
                    font-size: var(--text_H3_image_description_size);
                }
                &-H5{
                    font-size: var(--text_H5_image_description_size);
                }
            }
        }
    }
    &-Carousel::-webkit-scrollbar {
        width: 4px;
        // background-color: aqua;
    }
    &-Carousel::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #e7c862;
        box-shadow: inset 0 0 8px #e7c862;
    }
}
.Image-Carousel{
    width: var(--width_image_carousel);
    height: var(--height_image_carousel);
    margin-bottom: var(--margin_img_carousel);
}
.slick-dots li{
    margin-left: 15px;
}
.slick-dots li button:before{
    color: var(--font_color_app);
    font-size: 16px;
}
.slick-slider{
    width: 103%;
}
.slick-dots li.slick-active button:before{
    color: var(--font_color_app);
}
.MemberTeamMainCard{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
}
.MemerCard{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PhotoMemberTeam{
    display: flex;
    justify-content: center;
    align-items: center;
    &-OriginPhoto{
        width: 27em;
    }
    &-Puzzle{
        // opacity: 0.8;
        position: absolute;
        width: 30em;
    }
    &-MemberName{
        margin-top: 2em;
    }
}
.AboutMemberTeam{
    width: 60%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}