@media screen and (min-width: 1280px) {
    :root {
        --width_image_carousel: 30%;
        --height_image_carousel: 45%;
        --text_H3_image_description_size: 16px;
        --text_H5_image_description_size: 16px;
        --orientation_carousel_card: row;
        --margin_img_carousel: 10%;
        --align_items_card: none;
        --margin_left_card: 2em;
        --width_content_team: 70vw;
        --height_content_team: 75vh;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    :root {
        --width_image_carousel: 45%;
        --height_image_carousel: 45%;
        --text_H3_image_description_size: 16px;
        --text_H5_image_description_size: 16px;
        --orientation_carousel_card: row;
        --margin_img_carousel: 10%;
        --align_items_card: none;
        --margin_left_card: 2em;
        --width_content_team: 70vw;
        --height_content_team: 75vh;
    }
  }
  @media screen and (min-width: 800px) and (max-width: 1023px) {
    :root {
        --width_image_carousel: 45%;
        --height_image_carousel: 45%;
        --text_H3_image_description_size: 16px;
        --text_H5_image_description_size: 16px;
        --orientation_carousel_card: row;
        --margin_img_carousel: 10%;
        --align_items_card: none;
        --margin_left_card: 2em;
        --width_content_team: 70vw;
        --height_content_team: 75vh;
    }
  }
  @media screen and (max-width: 799px) {
    :root {
        --width_image_carousel: 80%;
        --height_image_carousel: 80%;
        --text_H3_image_description_size: 16px;
        --text_H5_image_description_size: 12px;
        --orientation_carousel_card: column;
        --margin_img_carousel: 0;
        --align_items_card: center;
        --margin_left_card: 0;
        --width_content_team: 85vw;
        --height_content_team: 80vh;
    }
}

.Team{
    margin-top: 8em;
    background:rgba(0, 0, 0, 0.534);
    color: var(--font_color_app);
    position: relative;
    z-index: 10;
    width: var(--width_content_team);
    height: var(--height_content_team);
    padding: 0 1em 1em 1em;
    display: flex;
    justify-content: center;
    // align-items: center;
    box-shadow: var(--shadow_box);
    border-radius: 2em 0 2em 0;
    &-Carousel{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10em;
        width: 95%;
        height: 90%;
        max-height: 50%;
        &-Card_Window{
            display: flex;
            flex-direction: column;
            width: 13%;
            margin: .5em 2em;
            transition: 1s;
        }
        &-Card_Window:hover{
            cursor: pointer;
            img{
                width: 105%;
                box-shadow: 10px 10px 40px var(--font_color_app);
                transition: .5s;
            }
            transition: 1s;
        }
        &-Card{
            display: flex;
            flex-direction: var(--orientation_carousel_card);
            align-items: var(--align_items_card);
            margin-bottom: 20px;
            display: flex !important;
            &-Name_And_Description{
                width: 65%;
                margin-left: var(--margin_left_card);
                &-H3{
                    font-size: var(--text_H3_image_description_size);
                }
                &-H5{
                    font-size: var(--text_H5_image_description_size);
                }
            }
        }
    }
}
.Image-Carousel{
    width: var(--width_image_carousel);
    height: var(--height_image_carousel);
    margin-bottom: var(--margin_img_carousel);
}
.slick-dots li{
    margin-left: 15px;
}
.slick-dots li button:before{
    color: var(--font_color_app);
    font-size: 16px;
}
.slick-slider{
    width: 103%;
}
.slick-dots li.slick-active button:before{
    color: var(--font_color_app);
}
.MemberTeamMainCard{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
}
.MemerCard{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PhotoMemberTeam{
    display: flex;
    justify-content: center;
    align-items: center;
    &-OriginPhoto{
        width: 27em;
    }
    &-Puzzle{
        // opacity: 0.8;
        position: absolute;
        width: 30em;
    }
    &-MemberName{
        margin-top: 2em;
    }
}
.AboutMemberTeam{
    width: 60%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}