.BirthDay{
    font-size: clamp(1px, 2vw, 15px);
    user-select: none;
    &-Info{
        height: 90%;
        font-size: 1.2vw;
    }
}
.BirthDay_Active{
    font-size: 1.1vw;
    font-weight: bold;
    box-shadow:  0 5px 10px rgba(255, 217, 0, 0.8);
    color: rgba(255, 217, 0, 0.8);
    border-radius: .6em;
    // border: 1px solid gray;
    padding: .5em 1em;
    :only-child{
        margin: 0;
    }
}
.BirthDay_Choice{
    font-size: 1.1vw;
    color: rgba(255, 217, 0, 0.5);
    margin: 0;
    // border: 1px solid gray;
    padding: .5em 1em;
    :only-child{
        margin: 0;
    }
    :hover{
        cursor: pointer;
    }
}