@media screen and (min-width: 1280px) {
    :root {
        --main-service-height: 80vh;
        --main-service-width: 70vw;
        --main-service-padding: 1em;
        --main-service-bord-rad: 3em;

        --ServicesMenu-width: ;
        --ServicesMenu-height: ;

        --ServicesMenu-Block-Width: 45%;
        --ServicesMenu-Block-Height: 40%;

    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    :root {
        --main-service-height: 80vh;
        --main-service-width: 70vw;
        --main-service-padding: 1em;
        --main-service-bord-rad: 3em;

        --ServicesMenu-width: ;
        --ServicesMenu-height: ;

        --ServicesMenu-Block-Width: 45%;
        --ServicesMenu-Block-Height: 40%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
    :root {
        --main-service-height: 80vh;
        --main-service-width: 70vw;
        --main-service-padding: 1em;
        --main-service-bord-rad: 3em;

        --ServicesMenu-width: ;
        --ServicesMenu-height: ;

        --ServicesMenu-Block-Width: 45%;
        --ServicesMenu-Block-Height: 40%;
    }
}
@media screen and (max-width: 799px) {
    :root {
        --main-service-height: 90vh;
        --main-service-width: 90vw;
        --main-service-padding: .5em;
        --main-service-bord-rad: 1.5em;

        --ServicesMenu-width: ;
        --ServicesMenu-height: ;

        --ServicesMenu-Block-Width: 80vw;
        --ServicesMenu-Block-Height: 30vh;
    }
}


.Services{
    position: relative;
    z-index: 10;
    width: var(--main-service-width);
    height: var(--main-service-height);
    //! auto для верстки мобильной!!!!!! перенести в переменную!!!
    // height: auto;
    padding: var(--main-service-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 50px black;
    border-radius: var(--main-service-bord-rad);
}
.ServicesMenu{
    width: 98.8%;
    height: 98%;
    padding: .5em;
    box-shadow: 0 0 10px black;
    border-radius: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    &-Show{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: var(--ServicesMenu-Block-Width);
        height: var(--ServicesMenu-Block-Height);
        box-shadow: 0 0 25px black;
        border-radius: 1.5em;
        text-decoration: none;
        color:black
    }
    &-Events{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: var(--ServicesMenu-Block-Width);
        height: var(--ServicesMenu-Block-Height);
        box-shadow: 0 0 25px black;
        border-radius: 1.5em;
        text-decoration: none;
        color:black
    }
    &-MK{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: var(--ServicesMenu-Block-Width);
        height: var(--ServicesMenu-Block-Height);
        box-shadow: 0 0 25px black;        
        border-radius: 1.5em;
        text-decoration: none;
        color:black
    }
    &-AddServ{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: var(--ServicesMenu-Block-Width);
        height: var(--ServicesMenu-Block-Height);
        box-shadow: 0 0 25px black;
        border-radius: 1.5em;
        text-decoration: none;
        color:black
    }
    &-Show:hover{
        box-shadow: inset 0 0 20px black;
    }
    &-Events:hover{
        box-shadow: inset 0 0 20px black;
    }
    &-MK:hover{
        box-shadow: inset 0 0 20px black; 
    }
    &-AddServ:hover{
        box-shadow: inset 0 0 20px black;
    }
}