@media screen and (min-width: 1280px) {
    :root {
        --width-category-card_illusions: 20vw;
        --category_photo_illusions: 18vw;
        --img_card: ;
        --description_size_text_card: 16px;
        --card_name: ;
        --size_tittle_font: 1.2vw;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    :root {
        --width-category-card_illusions: 20vw;
        --category_photo_illusions: 15vw;
        --img_card: ;
        --description_size_text_card: 16px;
        --card_name: ;
        --size_tittle_font: 1.2vw;
    }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
    :root {
        --width-category-card_illusions: 20vw;
        --category_photo_illusions: 7vw;
        --img_card: ;
        --description_size_text_card: 16px;
        --card_name: ;
        --size_tittle_font: 1.2vw;
    }
}
@media (orientation: portrait) {
    :root {
        --width-category-card_illusions: 40vw;
        --category_photo_illusions: 30vw;
        --img_card: 50vw;
        --description_size_text_card: 12px;
        --card_name: ;
        --size_tittle_font: 3vw;
    
    }
}
@media ( orientation: landscape) and (max-height: 428px) and (max-width: 926px)  {
    :root {
        --width-category-card_illusions: 18vw;
        --category_photo_illusions: 18vw;
        --img_card: ;
        --description_size_text_card: 12px;
        --card_name: ;
        --size_tittle_font: 2.5vw;
    }
}


.Illusionists{
    display: flex;
    flex-direction: column;
    &-Services_Card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: var(--width_content_price);
        height: var(--height_content_price);
        position: absolute;
        border-radius: 1em;
        background-color: rgb(27, 27, 27);
        border-radius: 2em 0 2em 0;
        box-shadow: 0 0 50px var(--font_color_app);
        transition: 0.5s;
        &-Img{
            width: var(--img_card)
        }
        &-Info {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 3em;
            font-size: large;
            &-Description{
                width: 100%;
                font-size: var(--description_size_text_card);
                color: #dbcb94;
                &-Title{
                    margin-top: 1vw;
                    width: 50%;
                    font-size: 2vw;
                    color: #dbcb94;
                }
                &-Price{
                    
                    color: #dbcb94;
                }
                &-Buy{
                    position: absolute;
                    bottom: clamp(1%, 30vw, 3%);
                    right: clamp(3%, 30vw, 20%);
                    &-Price{
                        font-size: .9vw;
                    }
                    &-Button{
                        font-size: .9vw;
                        padding: .2vw;
                        color: green;
                        border-radius: 2vw;
                        box-shadow: 0 0 20px rgba(218, 165, 32, 0.514);
                        animation: colorize 12s ease infinite;
                    }
                    &-Button:hover{
                        cursor: pointer;
                        animation: colorize_Focus 2s ease infinite;
                        
                    }
                }
            }
        }
        &-Button_Close {
            color: white;
            position: absolute;
            right: 1em;
            top: 1em;
            background: none;
            border: unset;
        }
        &-Button_Close:hover {
            cursor: pointer;
            color: gold;
            text-shadow: 0 0 5px gold;
        }
    }
    &-Tittle{
        width: 80%;
        margin-top: 5vh;
        font-size: var(--size_tittle_font);
    }
    &-Member_List{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
        &-Member_Card{
            width: var(--width-category-card_illusions);
            margin: 1vw;
            &-Photo{
                width: var(--category_photo_illusions);
                transition: 5s;
            }
            &-Photo:hover{
                cursor: pointer;
                box-shadow: 0 0 20px rgba(186, 80, 247, 0.527);
                transition: 1s;
            }
            &-Name{
                font-size: 1.2vw;
            }
        }
    }
}