@media screen and (min-width: 1280px) {
  :root {
    --li-margin:25px;
    --logo_size: 4%;
    --height_header: 6%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  :root {
    --li-margin:25px;
    --logo_size: 5%;
    --height_header: 6%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  :root {
    --li-margin:25px;
    --logo_size: 6%;
    --height_header: 6%;
  }
}
@media screen and (max-width: 799px) {
  :root {
    --li-margin:12px;
    --logo_size: 15%;
  }
}

@media (orientation: landscape) and (max-height: 428px) and (max-width: 926px) {
  :root {
    --li-margin:12px;
    --logo_size: 7%;
    --height_header: 10%;
  }
}



// .Header{
//     z-index: 100;
//     width: 100%;
//     height: 10%;
//     // background-color: aquamarine;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     position: fixed;
//     border-bottom: 1px solid rgba(255, 255, 0, 0.356);
// }

/* scrol */
.Header_Hiden{
  position: fixed;
  top: -4em;
  z-index: 100;
  width: 100%;
  height: 6%;
  transition: 1.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--height_header);
    box-shadow: 0 0 20px rgba(55, 0, 128, 0.555);
    // background: rgb(32, 32, 32) !important;
    background: 
    linear-gradient( rgb(23, 24, 29),  rgba(25, 26, 34, 0.978)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
;
    scrollbar-width: 0px;
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
    transition: 1.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-logo{
      width: var(--logo_size);
      margin-right: 0;
    }
    &-Integrations{
      position: absolute;
      right: 2em;
      display: flex;
      flex-direction: row;
    }
    &-Integrations :only-child{
      width: 50%;
      // height: 40%;
      margin-right: .5em;
    }
    &-Ul{
      display: flex;
      &-Li{
        
        margin: var(--li-margin);
      }
      &-Li a {
        cursor: pointer;
        color: rgb(247, 196, 68);
      }
      &-Li a:hover {
        cursor: pointer;
        color: rgb(247, 235, 68);
      }
    }
  }
  .Header::-webkit-scrollbar {
    width: var(--scrollbarWidth);
    transition: 2s;
  }
  .Header::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    background: var(--scrollbarBgColor);
    border-radius: var(--scrollbarBorderRadius);
  }
  .Header::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    background-color: var(--scrollbarThumbColor);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
    background-image: linear-gradient(
      180deg,
      var(--scrollbarThumbColor) 0%,
      var(--scrollbarThumbColorSecond) 90%
    );
  }