
@font-face {
    font-family: kindentosca;
    src: url('../../../public/fonts/kindentosca.otf');
  }

@media screen and (min-width: 1280px) {
    :root {
        --margin_top_category_list: 0;
        --height_content_price: 80vh;
        --width_content_price: 70vw;
        --width_content_card: 10vw;
        --width-category-card: 22%;
        --width-category-card-hover: 22.3%;
        --margin-category-card: 3.5vh 2.2vw;
        --margin-category-card-hover: 3.5vh 2.8vw;
        --services_card_width: 18%;
        --button_go_back_to_category: 3vw;
        --full_size_open_img_height: 100%;
        --size_img_mainPhoto: 70%;
        --size_img_sliderPhoto: 15%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    :root {
        --margin_top_category_list: 0;
        --height_content_price: 80vh;
        --width_content_price: 70vw;
        --width_content_card: 10vw;
        --width-category-card: 22%;
        --width-category-card-hover: 22.3%;
        --margin-category-card: 3.5vh 2.2vw;
        --margin-category-card-hover: 3.5vh 2.8vw;
        --services_card_width: 18%;
        --button_go_back_to_category: 3vw;
        --full_size_open_img_height: 100%;
        --size_img_mainPhoto: 70%;
        --size_img_sliderPhoto: 15%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
    :root {
        --margin_top_category_list: 0;
        --height_content_price: 80vh;
        --width_content_price: 70vw;
        --width_content_card: 10vw;
        --width-category-card: 22%;
        --width-category-card-hover: 22.3%;
        --margin-category-card: 3.5vh 2.2vw;
        --margin-category-card-hover: 3.5vh 2.8vw;
        --services_card_width: 18%;
        --button_go_back_to_category: 3vw;
        --full_size_open_img_height: 100%;
        --size_img_mainPhoto: 70%;
        --size_img_sliderPhoto: 15%;
    }
}
@media (orientation: portrait) {
    :root {
        --margin_top_category_list: 15%;
        --height_content_price: 75vh;
        --width_content_price: 100vw;
        --width_content_card: 10vw;
        --width-category-card: 45%;
        --width-category-card-hover: 45.3%;
        --margin-category-card: 2vh 2vw;
        --services_card_width: 40%;
        --button_go_back_to_category: 5vw;
        --full_size_open_img_height: 60%;
        --size_img_mainPhoto: 40%;
        --size_img_sliderPhoto: 30%;
    }
}

@media ( orientation: landscape) and (max-height: 428px) and (max-width: 926px)  {
    :root {
        --margin_top_category_list: 10%;
        --height_content_price: 75vh;
        --width_content_price: 85vw;
        --width_content_card: 10vw;
        --width-category-card: 18%;
        --width-category-card-hover: 18.3%;
        --margin-category-card: 1vh .5vw;
        --services_card_width: 18%;
        --button_go_back_to_category: 5vw;
        --full_size_open_img_height: 60%;
        --size_img_mainPhoto: 50%;
        --size_img_sliderPhoto: 15%;
    }
}

.Price {
    // background: rgba(0, 0, 0, 0.534);
    color: var(--font_color_app);
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    width: var(--width_content_price);
    // height: var(--height_content_price);
    min-height: var(--height_content_price);
    display: flex;
    flex-direction: column;
    align-items: center;
    // box-shadow: var(--shadow_box);
    border-radius: 2em 0 2em 0;
    font-size: clamp(1px, 2vw, 15px);
    user-select: none;
    &-Button_Close_Category {
        width: var(--button_go_back_to_category);
        margin-top: 2em;
        transition: 0.2s;
    }
    &-Button_Close_Category:hover {
        cursor: pointer;
        width: calc(var(--button_go_back_to_category) + .1vw);
        transition: 0.2s;
    }
    &-CategoryList {
        width: 80%;
        // height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-Card {
            width: var(--width-category-card);
            margin: var(--margin-category-card);
            box-shadow: -5px -5px 20px rgba(218, 165, 32, 0.25);
            border-radius: 2em 0;
            transition: 1s;
        }
        &-Card:hover {
            cursor: pointer;
            margin: var(--margin-category-card-hover);
            width: var(--width-category-card-hover);
            box-shadow: 5px 5px 20px var(--font_color_app);
            border-radius: 0 2em;
            transition: 1s;
        }
    }
    &-CardList {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        max-height: 80%;
        overflow-y: auto;
        &-CardServices {
            width: var(--services_card_width);
            height: auto;
            margin: 1em;
            transition: 1s;
            box-shadow: -5px -5px 20px rgba(218, 165, 32, 0.25);
            border-radius: 2em 0;
            &:hover {
                cursor: pointer;
                border-radius: 0 2em;
                box-shadow: 5px 5px 20px var(--font_color_app);
                width: calc(var(--services_card_width) + 0.3%);
                margin: 0.8em;
                transition: 1s;
            }
        }
    }
    &-CardList::-webkit-scrollbar {
        width: 4px;
        // background-color: aqua;
    }
    &-CardList::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #e7c862;
        box-shadow: inset 0 0 8px #e7c862;
    }
    &-Services_Card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: var(--width_content_price);
        height: var(--height_content_price);
        position: absolute;
        border-radius: 1em;
        // background-color: rgb(27, 27, 27);
        border-radius: 2em 0 2em 0;
        // box-shadow: 0 0 50px var(--font_color_app);
        transition: 0.5s;
        &-Category_List{
            margin-top: var(--margin_top_category_list);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 10%;
        }
        &-Info {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 3em;
            font-size: large;
            color: white;
            &-Description{
                font-size: var(--descryption_category_NY_size_font);
                color: #dbcb94;
                &-Title{
                    margin-top: .5vw;
                    padding-bottom: 1vw;
                    font-size: 2vw;
                    color: #dbcb94;
                    width: 100%;
                    // border-bottom: 1px solid #dbcb94;
                }
                &-Buy{
                    position: absolute;
                    bottom: clamp(1%, 30vw, 3%);
                    right: clamp(3%, 30vw, 20%);
                    &-Price{
                        color: #dbcb94;
                        font-size: .9vw;
                    }
                    &-Button{
                        font-size: .9vw;
                        padding: .2vw;
                        color: green;
                        border-radius: 2vw;
                        box-shadow: 0 0 20px rgba(218, 165, 32, 0.514);
                        animation: colorize 12s ease infinite;
                    }
                    &-Button:hover{
                        cursor: pointer;
                        animation: colorize_Focus 2s ease infinite;
                        
                    }
                }
            }
            &-Description::first-letter{
                // font-size: 3vw;
                // font-family: kindentosca;
                // initial-letter: 1.8;
                // color: #e7c862;
                // margin-right: .5vw;
            }
        }
        &-Button_Close {
            position: absolute;
            right: 1em;
            top: 1em;
        }
        &-Button_Close:hover {
            cursor: pointer;
        }
    }
}

@keyframes colorize {
    0% {
        border-radius: 2em;
        box-shadow: 0 0 10px;
        color: rgb(197, 222, 229);
    }
    10% {
        border-radius: 3em;
        box-shadow: 0 0 5px;
        color: rgb(243, 219, 121);
    }
    20% {
        border-radius: 2em;
        box-shadow: 0 0 15px;
        color: rgb(194, 230, 122);
    }
    30% {
        border-radius: .5em;
        box-shadow: 0 0 3px;
        color: rgb(241, 177, 139);
    }
    40% {
        border-radius: 3em;
        box-shadow: 0 0 8px;
        color: rgb(197, 222, 229);
    }
    50% {
        border-radius: 1em;
        box-shadow: 0 0 7px;
        color: rgb(243, 219, 121);
    }
    60% {
        border-radius: 3em;
        box-shadow: 0 0 15px;
        color: rgb(194, 230, 122);
    }
    70% {
        border-radius: .5em;
        box-shadow: 0 0 4px;
        color: rgb(241, 177, 139);
    }
    80% {
        border-radius: 2em;
        box-shadow: 0 0 18px;
        color: rgb(197, 222, 229);
    }
    90% {
        border-radius: 1em;
        box-shadow: 0 0 9px;
        color: rgb(243, 219, 121);
    }
    100% {
        border-radius: 3em;
        box-shadow: 0 0 20px;
        color: rgb(194, 230, 122);
    }
}

@keyframes colorize_Focus {
    0% {
        box-shadow: 0 0 15px;
        color: rgb(148, 129, 19);
    }
    50% {
        box-shadow: 0 0 5px;
        color: rgb(194, 160, 25);
    }
    100% {
        box-shadow: 0 0 15px;
        color: rgb(148, 129, 19);
    }
}


.PriceCard{
    font-size: large;
    user-select: none;
    // box-shadow: 0 0 50px rgba(255, 255, 255, 0.781) !important;
    transition: 2s;
    display: flex;
    flex-direction: column;
    &-Content{
        width: 100%;
        display: flex;
        height: calc(100% - 15px);
        justify-content: center;
        &-Left_Content{
            width: 50%;
            height: 90%;
            &-MainPhoto{
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                &-Img{
                    height: var(--size_img_mainPhoto);
                    cursor: pointer;
                }
            }
            &-PhotoList{
                overflow-x: auto;
                display: flex;
                overflow: hidden;
                width: 100%;
                max-width: 100%;
                padding-bottom: 1em;
                position: relative;
                &-Slider{
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    max-height: 20%;
                    position: relative;
                    // animation: move_bg 35s linear infinite alternate;
                    &-Select_Card{
                        width: var(--size_img_sliderPhoto);
                        box-shadow: 0 0 15px #00ffffb7;
                        margin: 1em;
                    }
                    &-Card{
                        width: 15%;
                        margin: 1em;
                    }
                    :hover{
                        cursor: pointer;
                        box-shadow: 0 0 10px white;
                    }
                }
                
            }
            &-PhotoList::-webkit-scrollbar {
                height: 10px;
                width: 2px;
                // background-color: aqua;
            }
            &-PhotoList::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: #e7c862;
                box-shadow: inset 0 0 8px #e7c862;
            }
        }
        &-Right_Content{
            display: flex;
            flex-direction: column;

            width: 50%;
            height: 90%;
            &-Description{
                padding: var(--padding_descryption_block);
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: left;
                &-Text{
                    font-size: var(--descryption_category_NY_size_font);
                }
            }
            &-Price{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 10%;
                &-Text{
                    font-size: var(--descryption_category_NY_size_font);
                }
                &-Button_Buy{
                    width: auto;
                    font-size:var(--card_name);
                    padding: 0 2vw;
                    color: green;
                    border-radius: 2vw;
                    box-shadow: 0 0 20px rgba(218, 165, 32, 0.514);
                    animation: colorize 12s ease infinite;
                }
                &-Button_Buy:hover{
                    cursor: pointer;
                    animation: colorize_Focus 2s ease infinite;
                    
                }
            }
        }
    }
    &-FullIMG{
        background-color: rgba(68, 68, 68, 0.445);
        box-shadow: 0 0 50px rgba(68, 68, 68, 0.445);
        border: 2px solid gray;
        border-radius: 2em 0 2em 0;;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        &-Img{
            // width: var(--full_size_open_img_width);
            height: var(--full_size_open_img_height);
        }
        &-Btn_Close{
            cursor: pointer;
            position: absolute;
            top: 1em;
            right: 1em;
        }
    }
}
.PriceCard_Active {
    box-shadow:  0 0 10px rgba(255, 255, 255, 0.8), inset 0 0 20px rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    border-radius: .6em;
    // border: 1px solid gray;
    padding: var(--padding_category_button);
    :only-child{
        margin: 0;
    }
}
.PriceCard_Choice {
    color: rgb(255, 255, 255);
    margin: 0;
    // border: 1px solid gray;
    padding: var(--padding_category_button);
    :only-child{
        margin: 0;
    }
    :hover{
        cursor: pointer;
    }
}
.PriceCard_Active, .PriceCard_Choice p {
    font-size: var(--size_font_category_meny);

}