.Price{
    background:rgba(0, 0, 0, 0.534);
    color: rgb(255, 255, 0);
    z-index: 10;
    width: 70vw;
    height: 100vh;
    margin: 10em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 50px rgb(165, 194, 0);
    border-radius: 3em;
}