.Content{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: 5%;
    z-index: 2;
}
.MetaLayout{
    display: flex;
    flex-direction: column;

}
.LogoToHome{
    width: 10rem;
    height: 10rem;
    position: fixed;
    left: 5em;
    z-index: 998;
}
.NavigationApp {
    position: fixed;
    top: 4%;
    left: 2%;
    z-index: 997;
    display: flex;
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.NavigationApp>a {
    box-sizing: border-box;
    width: 13em;
    height: 3em;
    font-size: 1.2em;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em black;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
    /* font-weight: bold; */
    text-decoration: none;
}

.NavigationApp>a:nth-child(odd) {
    background: linear-gradient(to
    right, rgb(241,177,139), rgb(197,222,229));
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px)
    rotateY(45deg);
}

.NavigationApp>a:nth-child(even) {
    background: linear-gradient(to
    right, rgb(194,230,122), rgb(243,219,121));
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px)
    rotateY(-45deg);
}

.NavigationApp>a:nth-child(odd):hover {
    background: linear-gradient(to
    right, rgb(255, 162, 108), rgb(153, 228, 247));
    transform: perspective(350px)
    rotateY(45deg);    
    box-shadow: 0 0 1em rgb(116, 116, 116);
    padding-left: 25%;
}

.NavigationApp>a:nth-child(even):hover {
    background: linear-gradient(to
    right, rgb(197, 247, 97), rgb(250, 218, 90));
    transform: perspective(350px)
    rotateY(-45deg);
    box-shadow: 0 0 1em rgb(116, 116, 116);
    padding-right: 25%;
}

.Loader {
    float: left;
    position: absolute;
    margin-top: -60px;
    margin-left: -60px;
    /* border: 10px solid rgba(194, 194, 194, 0.199);
    border-top: 10px solid rgba(255, 255, 255, 0.199);
    border-radius: 50%; */

    -webkit-animation-name: spin;
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 6000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 6000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}