@media screen and (min-width: 1280px) {
    :root {
        --height_content_contacts: 80vh;
        --width_content_contacts: 70vw;
        --width_contact_block: 80%;
        --justify_content_Link_block_orientation: space-between;
    }
  }
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  :root {
      --height_content_contacts: 80vh;
      --width_content_contacts: 70vw;
      --width_contact_block: 80%;
      --justify_content_Link_block_orientation: space-between;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  :root {
      --height_content_contacts: 80vh;
      --width_content_contacts: 70vw;
      --width_contact_block: 80%;
      --justify_content_Link_block_orientation: space-between;
  }
}
@media (orientation: portrait) {
  :root {
    --height_content_contacts: 65vh;
    --width_content_contacts: 85vw;
    --width_contact_block: 100%;
    --justify_content_Link_block_orientation: center;
  }
}

@media ( orientation: landscape) and (max-height: 428px) and (max-width: 926px)  {
  :root {
    --height_content_contacts: 65vh;
    --width_content_contacts: 85vw;
    --width_contact_block: 100%;
    --justify_content_Link_block_orientation: center;
  }
}
.Contacts{
    // background:rgba(0, 0, 0, 0.534);
    color: var(--font_color_app);
    position: relative;
    z-index: 10;
    width: var(--width_content_contacts);
    // height: var(--height_content_contacts);
    height: 40vh;
    margin: 0 9em;
    display: flex;
    align-items: center;
    flex-direction: column;
    // box-shadow: var(--shadow_box);
    border-radius: 2em 0 2em 0;
    &-Data{
      display: flex;
      width: var(--width_contact_block);
      justify-content: space-around;
    }
    &-Title{
      margin: .5em 0;
      font-size: var(--tittle_module_font_size);
    }
    &-Links{
      width: 45%;
      display: flex;
      justify-content: var(--justify_content_Link_block_orientation);
    }
    &-Links a img:only-child{
      margin: 10px;
    }
}