@media screen and (min-width: 1280px) {
    :root {
        --size_description_main_NY: 16px;
        --readius_category_card: 2em 0;
        --size_category_NY_width: 25%;
        --title_card_size: 18px;
        --size_font_category_meny: 20px;
        --descryption_category_NY_size_font: 16px;
        --padding_descryption_block: 5em;
        --padding_category_button: .5em 1em;
        --button_width_category_meny: 25%;
        --margin_main_module_title: 1em 0;
        --full_size_open_img: 38vw
    }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
:root {
        --size_description_main_NY: 16px;
        --readius_category_card: 2em 0;
        --size_category_NY_width: 25%;
        --title_card_size: 18px;
        --size_font_category_meny: 20px;
        --descryption_category_NY_size_font: 14px;
        --padding_descryption_block: 5em;
        --padding_category_button: .5em 1em;
        --button_width_category_meny: 25%;
        --margin_main_module_title: .4em 0;
        --full_size_open_img: 38vw
    }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
:root {
        --size_description_main_NY: 16px;
        --readius_category_card: 2em 0;
        --size_category_NY_width: 25%;
        --title_card_size: 18px;
        --size_font_category_meny: 20px;
        --descryption_category_NY_size_font: 16px;
        --padding_descryption_block: 5em;
        --padding_category_button: .5em 1em;
        --button_width_category_meny: 25%;
        --margin_main_module_title: .4em 0;
        --full_size_open_img: 38vw
    }
}
@media (orientation: portrait) {
:root {
        --size_description_main_NY: 12px;
        --readius_category_card: 1em 0;
        --size_category_NY_width: 33%;
        --title_card_size: 12px;
        --size_font_category_meny: 10px;
        --descryption_category_NY_size_font: 10px;
        --padding_descryption_block: 0;
        --padding_category_button: .3em;
        --button_width_category_meny: 25%;
        --margin_main_module_title: .4em 0;
        --full_size_open_img: 45vh;
    }
}
@media ( orientation: landscape) and (max-height: 428px) and (max-width: 926px)  {
    :root {
        --size_description_main_NY: 12px;
        --readius_category_card: 1em 0;
        --size_category_NY_width: 30%;
        --title_card_size: 12px;
        --size_font_category_meny: 10px;
        --descryption_category_NY_size_font: 12px;
        --padding_descryption_block: 0;
        --padding_category_button: .3em;
        --button_width_category_meny: 25%;
        --margin_main_module_title: .4em 0;
        --full_size_open_img: 45vh;
        
    }
}

.NewYearAndSanta {
    background: rgba(0, 0, 0, 0.534);
    color: var(--font_color_app);
    z-index: 10;
    width: var(--width_content_price);
    height: var(--height_content_price);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.4);
    border-radius: 2em 0 2em 0;
    font-size: medium;
    user-select: none;
    &-Title{
        margin: var(--margin_main_module_title);
    }
    &-Main_description{
        margin-top: 0;
        text-align: left;
        font-size: var(--size_description_main_NY);
        width: 90%;
    }
    &-Category_Card {
        width:  var(--size_category_NY_width);
        height:  80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-Img {
            width: var(--width-category-card);
            // margin: var(--margin-category-card);
            box-shadow: -5px -5px 20px rgba(218, 165, 32, 0.411);
            border-radius: var(--readius_category_card);
            transition: 1s;
        }
        &-Img:hover {
            cursor: pointer;
            // margin: var(--margin-category-card-hover);
            width: var(--width-category-card-hover);
            box-shadow: 5px 5px 30px rgb(255, 255, 255);
            border-radius: 0 2em;
            transition: 1s;
        }
        &-Title{
            font-size: var(--title_card_size);
        }
    }
}

.ForBigNY, .OutDoorNY, .KidNY{
    font-size: large;
    user-select: none;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.781) !important;
    transition: 2s;
    &-Content{
        width: 100%;
        display: flex;
        height: calc(100% - 15px);
        justify-content: center;
        &-Left_Content{
            width: 50%;
            height: 90%;
            &-MainPhoto{
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                &-Img{
                    width: 70%;
                    cursor: pointer;
                }
            }
            &-PhotoList{
                overflow-x: auto;
                display: flex;
                overflow: hidden;
                width: 100%;
                max-width: 100%;
                padding-bottom: 1em;
                position: relative;
                &-Slider{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: flex-start;
                    max-height: 20%;
                    position: relative;
                    animation: move_bg 50s linear infinite alternate;
                    &-Select_Card{
                        width: 15%;
                        box-shadow: 0 0 15px #00ffffb7;
                        margin: 1em;
                    }
                    &-Card{
                        width: 15%;
                        margin: 1em;
                    }
                    :hover{
                        cursor: pointer;
                        box-shadow: 0 0 10px white;
                    }
                }
                
            }
            &-PhotoList::-webkit-scrollbar {
                height: 10px;
                width: 2px;
                // background-color: aqua;
            }
            &-PhotoList::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: #e7c862;
                box-shadow: inset 0 0 8px #e7c862;
            }
        }
        &-Right_Content{
            display: flex;
            flex-direction: column;

            width: 50%;
            height: 90%;
            &-Description{
                padding: var(--padding_descryption_block);
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: left;
                &-Text{
                    font-size: var(--descryption_category_NY_size_font);
                }
            }
            &-Price{
                height: 10%;
                &-Text{
                    font-size: var(--descryption_category_NY_size_font);
                }
            }
        }
    }
    &-FullIMG{
        background-color: rgba(68, 68, 68, 0.445);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        &-Img{
            width: var(--full_size_open_img);
        }
        &-Btn_Close{
            position: absolute;
            top: 1em;
            right: 1em;
        }
    }
}
.ForBigNY_Active, .OutDoorNY_Active, .KidNY_Active{
    font-weight: bold;
    box-shadow:  0 5px 10px rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 .6em .6em;
    // border: 1px solid gray;
    padding: var(--padding_category_button);
    :only-child{
        margin: 0;
    }
}
.ForBigNY_Choice, .OutDoorNY_Choice, .KidNY_Choice{
    color: rgb(255, 255, 255);
    margin: 0;
    // border: 1px solid gray;
    padding: var(--padding_category_button);
    :only-child{
        margin: 0;
    }
    :hover{
        cursor: pointer;
    }
}
.ForBigNY_Active, .OutDoorNY_Active, .KidNY_Active,
.ForBigNY_Choice, .OutDoorNY_Choice, .KidNY_Choice p {
    font-size: var(--size_font_category_meny);

}

@keyframes move_bg {
    from {
        background-position: 0 0;
        right: -35em;
    }
    to {
        background-position: 100px 0;
        right: 65em;
    }
}