.NewYearAndSanta {
    background: rgba(0, 0, 0, 0.534);
    color: var(--font_color_app);
    z-index: 10;
    width: var(--width_content_price);
    height: var(--height_content_price);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.4);
    border-radius: 2em 0 2em 0;
    font-size: medium;
    user-select: none;
    &-Main_description{
        //! STOP POINT
        text-align: left;
        font-size: 15px;
        width: 90%;
    }
    &-Category_Card {
        width: var(--width-category-card);
        // margin: var(--margin-category-card);
        box-shadow: -5px -5px 20px rgba(218, 165, 32, 0.411);
        border-radius: 2em 0;
        transition: 1s;
    }
    &-Category_Card:hover {
        cursor: pointer;
        // margin: var(--margin-category-card-hover);
        width: var(--width-category-card-hover);
        box-shadow: 5px 5px 30px rgb(255, 255, 255);
        border-radius: 0 2em;
        transition: 1s;
    }
}

.NewYearAndSanta_Active{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    font-weight: bold;
    box-shadow:  0 5px 10px rgba(0, 217, 255, 0.8);
    color: rgba(0, 217, 255, 0.8);
    border-radius: .6em;
    // border: 1px solid gray;
    padding: .5em 1em;
    :only-child{
        margin: 0;
    }
}
.NewYearAndSanta_Choice{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    color: rgba(255, 17, 0, 0.788);
    margin: 0;
    // border: 1px solid gray;
    padding: .5em 1em;
    :only-child{
        margin: 0;
    }
    :hover{
        cursor: pointer;
    }
}

.ForBigNY, .OutDoorNY, .KidNY{
    font-size: large;
    user-select: none;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.781) !important;
    transition: 2s;
    &-Content{
        width: 100%;
        height: 100%;
        display: flex;

        &-Left_Content{
            width: 50%;
            height: 100%;
            &-MainPhoto{
                height: 77%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 70%;
                }
            }
            &-PhotoList{
                overflow-x: auto;
                display: flex;
                max-width: 100%;
                height: 22%;
                padding-bottom: 1em;
                &-Select_Card{
                    width: 15%;
                    box-shadow: 0 0 15px rgba(0, 255, 255, 0.719);
                    margin: 1em;
                }
                &-Card{
                    width: 15%;
                    margin: 1em;
                }
                :hover{
                    cursor: pointer;
                    box-shadow: 0 0 10px white;
                }
                
            }
            &-PhotoList::-webkit-scrollbar {
                height: 10px;
                width: 2px;
                // background-color: aqua;
            }
            &-PhotoList::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: #e7c862;
                box-shadow: inset 0 0 8px #e7c862;
            }
        }
        &-Right_Content{
            display: flex;
            flex-direction: column;

            width: 50%;
            height: 100%;
            &-Description{
                padding: 5em;
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &-Price{
                height: 10%;
            }
        }
    }
}
.ForBigNY_Active, .OutDoorNY_Active, .KidNY_Active{
    font-size: 1.1vw;
    font-weight: bold;
    box-shadow:  0 5px 10px rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 .6em .6em;
    // border: 1px solid gray;
    padding: .5em 1em;
    :only-child{
        margin: 0;
    }
}
.ForBigNY_Choice, .OutDoorNY_Choice, .KidNY_Choice{
    font-size: 1.1vw;
    color: rgb(255, 255, 255);
    margin: 0;
    // border: 1px solid gray;
    padding: .5em 1em;
    :only-child{
        margin: 0;
    }
    :hover{
        cursor: pointer;
    }
}