.NewYearAndSanta {
    background: rgba(0, 0, 0, 0.534);
    color: var(--font_color_app);
    z-index: 10;
    width: var(--width_content_price);
    height: var(--height_content_price);
    margin: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow_box);
    border-radius: 2em 0 2em 0;
    font-size: clamp(1px, 2vw, 15px);
    user-select: none;
    &-Main_description{
        text-align: left;
        font-size: .9vw;
        width: 90%;
    }
}

.NewYearAndSanta_Active{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    font-weight: bold;
    box-shadow:  0 5px 10px rgba(0, 217, 255, 0.8);
    color: rgba(0, 217, 255, 0.8);
    border-radius: .6em;
    // border: 1px solid gray;
    padding: .5em 1em;
    :only-child{
        margin: 0;
    }
}
.NewYearAndSanta_Choice{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    color: rgba(255, 17, 0, 0.788);
    margin: 0;
    // border: 1px solid gray;
    padding: .5em 1em;
    :only-child{
        margin: 0;
    }
    :hover{
        cursor: pointer;
    }
}