@media screen and (min-width: 1280px) {
    :root {
        --position_top: 20vh;
        --font_color_main: #e7c862;
        --position_cupon_left: -25em;
        --position_cupon_bottom: 2em;
        --postiion_top_tittle: 5%;
        --postiion_bottom_tittle: 0;
        --text-sizeTextH1: 3em;
        --text-sizeTextH2: 1.8em;
        --width-mainpage: 90vw;
        --height-span1: 8em;
        --height-span12: 5em;
        --height-divH1: 8em;
        --height-H1: 2.2em;
        --width-H1: 98%;
        --width-divH1: 50%;
        --height-divH2: 16em;
        --width-divH2: 60%;
        --width-H2: 100%;
        --borderRadius-divH2: 3rem;
        --main-Height: 100vh;
        --shadow-Block-Inset: inset 0px 0px 20px rgba(255, 238, 0, 0.459);
        --shadow-Block-OutSide: 0px 0px 20px rgb(255, 251, 0);
        --main-overflow: auto;
        --background_image: url('../../../public//img/backgroundSpice.jpeg');
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    :root {
        --position_top: 20vh;
        --font_color_main: #c9a97b;
        --text-sizeTextH1: 2.1em;
        --text-sizeTextH2: 1.4em;
        --width-mainpage: 80vw;
        --height-span1: 7em;
        --height-span12: 4em;
        --height-divH1: 6em;
        --height-H1: 2.2em;
        --width-H1: 97%;
        --width-divH1: 50%;
        --height-divH2: 16em;
        --width-divH2: 60%;
        --width-H2: 100%;
        --borderRadius-divH2: 5rem;
        --main-Height: 100vh;
        --main-overflow: auto;
        --postiion_top_tittle: 10%;
        --postiion_bottom_tittle: 10%;
        --position_cupon_left: -20em;
        --position_cupon_bottom: 2em;
        --shadow-Block-OutSide: 0px 0px 20px rgb(255, 251, 0);
        --background_image: url('../../../public//img/backgroundSpice.jpeg');
        --postiion_top_tittle: 5%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
    :root {
        --position_top: 20vh;
        --font_color_main: #c9a97b;
        --text-sizeTextH1: 1.6em;
        --text-sizeTextH2: 1.2em;
        --width-mainpage: 80vw;
        --height-span1: 7em;
        --height-span12: 4em;
        --height-divH1: 4.5em;
        --height-H1: 2em;
        --width-H1: 96%;
        --width-divH1: 50%;
        --height-divH2: 16em;
        --width-divH2: 60%;
        --width-H2: 100%;
        --borderRadius-divH2: 5rem;
        --main-Height: 100vh;
        --main-overflow: auto;
        --postiion_top_tittle: 10%;
        --postiion_bottom_tittle: 10%;
        --position_cupon_left: -15em;
        --position_cupon_bottom: 2em;
        --shadow-Block-OutSide: 0px 0px 20px rgb(255, 251, 0);
        --background_image: url('../../../public//img/backgroundSpice.jpeg');
        --postiion_top_tittle: 5%;
    }
}
@media screen and (max-width: 799px) {
    :root {
        --position_top: 15em;
        --font_color_main: #c9a97b;
        --position_cupon_left: -6em;
        --position_cupon_bottom: 2em;
        --text-sizeTextH1: 1.2em;
        --text-sizeTextH2: 1em;
        --width-mainpage: 100vw;
        --height-span1: 4em;
        --height-span12: 2em;
        --height-divH1: 5.4em;
        --height-H1: 3.5em;
        --width-divH1: 70%;
        --width-H1: 94%;
        --height-divH2: 11em;
        --width-divH2: 85%;
        --width-H2: 94%;
        --borderRadius-divH2: 2rem;
        --main-Height: 100vh;
        --main-overflow: hidden;
        --postiion_top_tittle: 10em;
        --postiion_bottom_tittle: 13em;
        --shadow-Block-OutSide: 0px 0px 20px rgb(255, 251, 0);
        --background_image: url('../../../public//img/mobile_background_image.jpeg');
        
    }
}
.AnchorIdAbout{
  height: 8em;
}
.AnchorIdContacts{
  height: 8em;
}
.Application-Content{
    overflow: var(--main-overflow);
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-image: var(--background_image);
    // background-color: #191a22;
    background:
      linear-gradient( rgba(25, 26, 34, 0.978),  rgba(25, 26, 34, 0.978)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed, scroll;
}

    
.MainPage {
    position: relative;
    width: var(--width-mainpage);
    // z-index: 99;
    display: flex;
    flex-direction: column;
    height: var(--main-Height);
    justify-content: center;
    align-items: center;
}
.MainPageH1Div1{
  position: absolute;
  top: var(--postiion_top_tittle);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--height-divH1);
  color: var(--font_color_main);
  text-align: center;
  transform: scale(0.94);
  animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
  
  @keyframes scale {
  100% {
    transform: scale(1);
  }
}
span {
  font-size: var(--height-span12);
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span :nth-child(1) {
  margin: 0px .2em;
  animation: fade-in 2s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  // background: linear-gradient(45deg, rgba(243,219,121,1) 0%, rgba(153,228,247,1) 33%, rgba(194,230,122,1) 66%, rgba(255,162,108,1) 100%);
  // background: linear-gradient(45deg, rgb(162, 74, 221) 0%, rgb(0, 12, 122));

}
.MainPageH1Div{
    position: relative;
    top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--height-divH1);
    color: var(--font_color_main);
    text-align: center;
    transform: scale(0.94);
    animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
    
    @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  span {
    font-size: var(--height-span1);
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span :nth-child(1) {
    margin: 0px .2em;
    animation: fade-in 2s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
    // background: linear-gradient(45deg, rgba(243,219,121,1) 0%, rgba(153,228,247,1) 33%, rgba(194,230,122,1) 66%, rgba(255,162,108,1) 100%);
    // background: linear-gradient(45deg, rgb(162, 74, 221) 0%, rgb(0, 12, 122));

}
.MainPageH1{
    position: relative;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height-H1);
    // font-size: 3em;
    font-size: var(--text-sizeTextH1);
    width: var(--width-H1);
    border-radius: 1rem;
    // background-color: rgba(255, 255, 255, 0.26);
    &-Top{
        color: rgb(255, 255, 0);
        font-size: 5.5em;
    }
    &-Logo{
        font-size: 8em;
    }
}

.MainPageH2 {
    // font-family: "Montserrat Medium";
    margin-bottom: var(--postiion_bottom_tittle);
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  // @keyframes scale {
  //   100% {
  //     transform: scale(1);
  //   }
  // }
  
  span {
    font-size: 1.4em;
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span :nth-child(1) {
    margin: 0px .2em;
    animation: fade-in 2s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    margin: 0px .2em;
    animation: fade-in 2s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    margin: 0px .2em;
    animation: fade-in 2s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    margin: 0px .2em;
    animation: fade-in 2s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    margin: 0px .2em;
    animation: fade-in 2s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    margin: 0px .2em;
    animation: fade-in 2s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
    margin: 0px .2em;
    animation: fade-in 2s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
    margin: 0px .2em;
    animation: fade-in 2s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(9) {
    margin: 0px .2em;
    animation: fade-in 2s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(10) {
    margin: 0px .2em;
    animation: fade-in 2s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(11) {
    margin: 0px .2em;
    animation: fade-in 2s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(12) {
    margin: 0px .2em;
    animation: fade-in 2s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(13) {
    animation: fade-in 2s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(14) {
    margin: 0px .2em;
    animation: fade-in 2s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(15) {
    margin: 0px .2em;
    animation: fade-in 2s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(16) {
    animation: fade-in 2s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
.word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
.MainPageH2Div{
    position: relative;
    top: var(--position_top);
    display: flex;
    justify-content: center;
    align-items: center;
    height:var(--height-divH2);
    border-radius: var(--borderRadius-divH2);
    width: var(--width-divH2);
    color: var(--font_color_main);
    &-Text{
        height: 5%;
        display: flex;
        flex-direction: column;
    }
    // box-shadow: var(--shadow-Block-Inset);
    // background: linear-gradient(-45deg, rgb(211, 145, 255) 0%, rgb(180, 68, 255) 25%, rgb(74, 84, 230) 75%, rgb(173, 181, 255));
    // background: linear-gradient(45deg, rgba(241, 215, 110, 0.65) 0%, rgb(135, 224, 247, 0.65) 33%, rgb(185, 226, 103, 0.65) 66%, rgb(245, 141, 81, 0.65) 100%);
}
.MainPageH2{
    margin-top: .01em;
    font-size: var(--text-sizeTextH2);
    width: var(--width-H2);
    border-radius: 1rem;
}
.RecallMe{
  position: fixed;
  bottom: var(--position_cupon_bottom);
  left: var(--position_cupon_left);
  border-radius: 0 50% 50% 0;
  // background-color: rgba(255, 166, 0, 0.1);
  box-shadow: var(--shadow-Block-OutSide);
  transition: 2s;
  width: 30%;
  height: 20%;
  z-index: 99;
  cursor: pointer;
}
.RecallMe:hover{
  background-color: rgba(255, 166, 0, 0.5);
}
.RecallMe_Active{
  position: fixed;
  left: 0;
  bottom: 2em;
  border-radius: 0;
  // box-shadow: var(--shadow-Block-OutSide);
  width: 30%;
  height: 20%;
  cursor: pointer;
  background-color: rgba(255, 166, 0, 0.5);
  transition: 2s;
  z-index: 99;
}