.NavBar {
    font-size: larger;
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.LogoToHome{
    width: 8rem;
    height: 8rem;
    position: fixed;
    left: 6.8%;
    top: 2%;
    z-index: 998;
}
.LogoToHomeMobile{
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 1%;
    top: 1%;
    z-index: 998;
}

.BackgroundImageDiv{
    height:  100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.BackgroundImage{
    z-index: 0;
    height:  100vh;
    width: 100vw;
}

// !! MOBILE NAVIGATION

.MobileMenuButton{
    color: black;
    width: 2.8rem;
    height: 2.8rem;
    transform: rotate(90deg);
    font-weight: bold;
    background: none;
    border: 2px solid black;
    border-top: none;
    border-radius: 0 0 .5em .5em;
    position: absolute;
    right: -1%;
    top: 2.7%;
    z-index: 2;
}
.CloseMobileMenuButton{
    color: black;
    width: 2.8rem;
    height: 2.8rem;
    transform: rotate(90deg);
    font-weight: bold;
    background: none;
    border: 2px solid black;
    border-top: none;
    border-radius: 0 0 .5em .5em;
    position: absolute;
    right: -1%;
    top: 2.7%;
    z-index: 11;
}
.MobileMenuNavBar{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transform: translateX(100%);
    transition: all 1s;

    &-Content{
        position: relative;
        top: 5em;
        width: 100%;
        height: 100%;
    }
}
.MobileMenuNavBar.Active{
    transform: translateX(0);
    transition: all 1.5s;
}
.MobileMenuNavBar-NavigationApp {
    z-index: 5;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    
}
.MobileMenuNavBar-NavigationApp>a {
    box-sizing: border-box;
    width: 20em;
    height: 6em;
    font-size: 1em;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em black;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
    /* font-weight: bold; */
    text-decoration: none;
}

.MobileMenuNavBar-NavigationApp>a:nth-child(odd) {
    margin-top: 2em;
    display: flex;
    align-items: center;
    font-weight: bold;
    background: linear-gradient(to
    right, rgb(241,177,139), rgb(197,222,229));
    text-align: left;
    padding-left: 10%;
}

.MobileMenuNavBar-NavigationApp>a:nth-child(even) {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    background: linear-gradient(to
    right, #c2e67a, #f3db79);
    text-align: right;
    padding-right: 10%;
}

.MobileMenuNavBar-NavigationApp>a:nth-child(odd):hover {
    background: linear-gradient(to
    right, #ffa26c, #99e4f7);  
    box-shadow: 0 0 2em rgb(116, 116, 116);
    padding-left: 27%;
}

.MobileMenuNavBar-NavigationApp>a:nth-child(even):hover {
    background: linear-gradient(to
    right, rgb(197, 247, 97), rgb(250, 218, 90));
    box-shadow: 0 0 2em rgb(116, 116, 116);
    padding-right: 27%;
}

// !! NAVIGATION For LAP TOP AND PC

.MetaLayout{
    display: flex;
    flex-direction: column;
}
.NavigationApp {
    position: fixed;
    top: 4%;
    left: 2%;
    z-index: 997;
    display: flex;
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.NavigationApp>a {
    box-sizing: border-box;
    width: 13em;
    height: 4em;
    font-size: 1em;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em black;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
    /* font-weight: bold; */
    text-decoration: none;
}

.NavigationApp>a:nth-child(odd) {
    margin-top: 2em;
    display: flex;
    align-items: center;
    font-weight: bold;
    background: linear-gradient(to
    right, rgb(241,177,139), rgb(197,222,229));
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px)
    rotateY(45deg);
}

.NavigationApp>a:nth-child(even) {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    background: linear-gradient(to
    right, #c2e67a, #f3db79);
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px)
    rotateY(-45deg);
}

.NavigationApp>a:nth-child(odd):hover {
    background: linear-gradient(to
    right, #ffa26c, #99e4f7);
    transform: perspective(350px)
    rotateY(45deg);    
    box-shadow: 0 0 1em rgb(116, 116, 116);
    padding-left: 25%;
}

.NavigationApp>a:nth-child(even):hover {
    background: linear-gradient(to
    right, rgb(197, 247, 97), rgb(250, 218, 90));
    transform: perspective(350px)
    rotateY(-45deg);
    box-shadow: 0 0 1em rgb(116, 116, 116);
    padding-right: 25%;
}
